<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>

    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br>
    
    <% for(chat of chats){ %>
    <div class="chat">
        <p>From: <b><%= chat.from %></b></p>
        <div class="msg">
        <p><%= chat.msg %></p>

        <form method="GET" action="chats/<%=chat._id%>/edit">
            <button>Edit Msg</button>
        </form>
        <br>
         <form method="POST" action="chats/<%=chat._id%>?_method=DELETE">
            <button class="btn1">Delete</button>
        </form>

        <form action="chats/<%=chat._id%>" method="GET">
            <button>Show</button>
        </form>

        </div>
        <p>Received by: <i><%= chat.to %></i></p>
        <hr >
        <p><%=chat.created_at.toString().split(" ")[4]%></p>
        <p><%=chat.created_at.toString().split(" ").slice(0, 4).join("-")%></p>
    </div>
    <br><br>
<% } %>

<script src="app.js"></script>
</body>
</html>

